scripts/aws/cfn/microservice.yml
AWSTemplateFormatVersion: 2010-09-09
Description: 'Example microservice deploy'

Parameters:
  ProjectName:
    Type: String
    Description: 'Usually pn can be pnXYZ where XYZ are the feature number, useful to create
      experimental environments without crash official development environment'

  EnvironmentType:
    Type: String
    AllowedValues:
      - dev
      - test
      - uat
      - hotfix
      - prod
    Default: dev

  AlarmSNSTopicArn:
    Type: String
    Description: 'ARN of alarm topic'

  MicroServiceUniqueName:
    Type: String
    Description: 'Unique name for the microservice'

  ContainerImageUri:
    Type: String
    Description: 'Exact container image URI with full repository and image digest'

  MicroserviceNumber:
    Type: Number
    Description: 'Disambiguation useful for load balancer rules'

  TemplateBucketBaseUrl:
    Type: String
    Description: 'The S3 bucket from which to fetch the templates used by this stack.'

  VPNECSClusterName:
    Type: String
    Description: 'The name of the ECS cluster where the microservice is going to be deployed'

  VPNServicesSubnetsIds:
    Type: String
    Description: 'subnets ids comma separated list. Where to deploy the microservice'

  VPNDefaultSecurityGroupId:
    Type: String
    Description: 'Default security group ID for the VPC'

  VPNVpcId:
    Type: String
    Description: 'VpcId where the microservice is going to be deployed'

  VPNVpcCidr:
    Type: String
    Description: 'Source VPC CIDR block for RDS ingress rule'

  VPNApplicationLoadBalancerListenerArn:
    Type: String
    Description: 'Load balancer listener where HTTP endpoints is going to be registered'

  VPNWebappSecurityGroupId:
    Type: String
    Description: 'Security group ID for the web application'

  EcsDefaultSecurityGroup:
    Type: String
    Description: 'Default security group required by infrastructure'

  RdsSimulatorPort:
    Type: Number
    Description: RDS Cluster Port (from storage stack)

  SimulatorAlbPath:
    Type: String
    Default: /*

  SimulatorHealthCheckPath:
    Type: String
    Default: /status

  MinTasksNumber:
    Default: 1
    Type: Number
    Description: 'minimum autoscaling number of tasks'

  MaxTasksNumber:
    Default: 6
    Type: Number
    Description: 'maximum autoscaling number of tasks'

  MicroserviceBucketName:
    Type: String
    Default: 'default-microservice-bucket'
    Description: 'Name of the bucket where the microservice files are copied during deploy'

  MicroserviceBucketBaseKey:
    Type: String
    Default: ''
    Description: 'Base key of the microservice in the s3 bucket'

  # Log group parameters
  EcsLogGroup:
    Type: String
    Description: 'Ecs log group name'

  LogAlarmStrategy:
    Type: String
    Default: 'FATAL'

  # Heath Check parameters
  HealthCheckInterval:
    Description: 'Seconds between two health check'
    Type: Number
    Default: 60

  HealthCheckTimeout:
    Description: 'health check timeout seconds'
    Type: Number
    Default: 5

  HealthyThresholdCount:
    Description: 'The number of consecutive health checks successes required before considering 
      an unhealthy target healthy.'
    Type: Number
    Default: 5

  UnhealthyThresholdCount:
    Description: 'The number of consecutive health check failures required before considering a target unhealthy.'
    Type: Number
    Default: 2

  # Instance parameters
  # 256 (.25 vCPU) - Available memory values: 0.5GB, 1GB, 2GB
  # 512 (.5 vCPU) - Available memory values: 1GB, 2GB, 3GB, 4GB
  # 1024 (1 vCPU) - Available memory values: 2GB, 3GB, 4GB, 5GB, 6GB, 7GB, 8GB
  # 2048 (2 vCPU) - Available memory values: Between 4GB and 16GB in 1GB increments
  # 4096 (4 vCPU) - Available memory values: Between 8GB and 30GB in 1GB increments

  SvcSimulatorUsername:
    Description: service user Username
    Type: String

  RdsSimulatorEndpointAddress:
    Description: RDS Cluster Writer Endpoint Address
    Type: String

  RdsSimulatorDbName:
    Description: RDS Database Name
    Type: String

  SvcSimulatorUserSecretArn:
    Description: ARN of the placeholder secret for service user
    Type: String

  AllowedHosts:
    Type: String

  SimulatorDataBucketName:
    Type: String
    Description: 'Name of the S3 bucket for simulator data (from storage stack)'

  CpuValue:
    Type: Number
    Default: 1024
    Description: 'Fargate virtual CPU quantity 1024 equals one vCPU'

  # 0.5GB, 1GB, 2GB - Available cpu values: 256 (.25 vCPU)
  # 1GB, 2GB, 3GB, 4GB - Available cpu values: 512 (.5 vCPU)
  # 2GB, 3GB, 4GB, 5GB, 6GB, 7GB, 8GB - Available cpu values: 1024 (1 vCPU)
  # Between 4GB and 16GB in 1GB increments - Available cpu values: 2048 (2 vCPU)
  # Between 8GB and 30GB in 1GB increments - Available cpu values: 4096 (4 vCPU)
  MemoryAmount:
    Type: String
    Default: 2GB
    Description: 'memory amount reserved to the task pod.'
    AllowedValues: [ 2GB, 4GB, 6GB, 8GB ]

  PnDelayerLambdaName:
    Type: String
    Description: 'Name of the pn-delayer-lambda function to be invoked'

  EventBridgeRuleState:
    Type: String
    Description: 'State of the EventBridge rule for weekly simulation'
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED

Resources:
  SimulatorMicroservice:
    Type: AWS::CloudFormation::Stack
    DependsOn: GestioneSimulazioneStateFunction
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/ecs-service.yaml"
      Parameters:
        MicroServiceUniqueName: !Sub "${ProjectName}-${MicroServiceUniqueName}"
        CpuValue: !Ref CpuValue
        MemoryAmount: !Ref MemoryAmount
        MappedPaths: !Ref SimulatorAlbPath
        HealthCheckTimeout: !Ref HealthCheckTimeout
        HealthCheckInterval: !Ref HealthCheckInterval
        HealthyThresholdCount: !Ref HealthyThresholdCount
        UnhealthyThresholdCount: !Ref UnhealthyThresholdCount
        HealthCheckPath: !Ref SimulatorHealthCheckPath
        MinTasksNumber: !Ref MinTasksNumber
        MaxTasksNumber: !Ref MaxTasksNumber
        ContainerEnvEntry1: !Sub DB_NAME=${RdsSimulatorDbName}
        ContainerEnvEntry2: !Sub DB_USER=${SvcSimulatorUsername}
        ContainerEnvEntry3: !Sub DB_HOST=${RdsSimulatorEndpointAddress}
        ContainerEnvEntry4: !Sub DB_PORT=${RdsSimulatorPort}
        ContainerEnvEntry5: !Sub ALLOWED_HOSTS=${AllowedHosts}
        ContainerEnvEntry6: !Sub 'ROLE_EVENTBRIDGE_STARTEXECUTIONSF_ARN=${EventBridgeSchedulerRole.Arn}'
        ContainerEnvEntry7: !Sub 'SF_GESTIONE_SIMULAZIONE_ARN=arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-${MicroServiceUniqueName}-sf-GestioneSimulazione'
        ContainerSecret1: !Sub 'DB_PASSWORD=${SvcSimulatorUserSecretArn}:password:AWSCURRENT:'
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn
        ContainerImageURI: !Ref ContainerImageUri
        ECSClusterName: !Ref VPNECSClusterName
        Subnets: !Ref VPNServicesSubnetsIds
        VpcId: !Ref VPNVpcId
        AlbSecurityGroup: !Ref VPNWebappSecurityGroupId
        LoadBalancerListenerArn: !Ref VPNApplicationLoadBalancerListenerArn
        LoadbalancerRulePriority: !Ref MicroserviceNumber
        EcsDefaultSecurityGroup: !Ref EcsDefaultSecurityGroup
        EcsLogGroup: !Ref EcsLogGroup
        LogAlarmStrategyV1: !Ref LogAlarmStrategy
        TaskRoleManagedPolicyArn: !Ref SimulatorMicroserviceTaskManagedPolicy
        MicroServiceSecretPrefix: pn-simulatore-recapiti-db-svc-user-credentials

  EcsSimulatorDefaultSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SG with specific egress for pn-simulatore-recapiti tasks
      VpcId: !Ref VPNVpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: !Ref RdsSimulatorPort
          ToPort: !Ref RdsSimulatorPort
          DestinationSecurityGroupId: !Ref VPNWebappSecurityGroupId
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      Tags:
        - Key: Name
          Value: pn-simulatore-recapiti-EcsSimulatorDefault-sg
        - Key: Environment
          Value: !Ref EnvironmentType

  SimulatorMicroserviceTaskManagedPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Sid: AllowSecretManagerAccess
            Effect: Allow
            Action: secretsmanager:GetSecretValue
            Resource: !Ref SvcSimulatorUserSecretArn
          - Sid: InvokeStepFunction
            Effect: Allow
            Action: states:StartExecution
            Resource:
              - !GetAtt GestioneSimulazioneStateFunction.Arn
              - !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction.Arn
          - Sid: EventBridgeSchedulerAccess
            Effect: Allow
            Action:
              - scheduler:CreateSchedule
              - scheduler:GetSchedule
              - scheduler:UpdateSchedule
              - scheduler:DeleteSchedule
              - scheduler:ListSchedules
            Resource: !Sub "arn:aws:scheduler:${AWS::Region}:${AWS::AccountId}:schedule/*/*"
          - Sid: EventBridgeSchedulerBasicPermissions
            Effect: Allow
            Action:
              - scheduler:ListScheduleGroups
              - scheduler:GetScheduleGroup
            Resource: "*"
          - Sid: PassRolePermission
            Effect: Allow
            Action: iam:PassRole
            Resource: 
              - !GetAtt EventBridgeSchedulerRole.Arn
              - !Sub "arn:aws:iam::${AWS::AccountId}:role/${ProjectName}-${MicroServiceUniqueName}-TaskRole"

  # Lambda Functions
  MergeSenderLimitDBLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-MergeSenderLimitDB"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt MergeSenderLimitDBLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/MergeSenderLimitDB.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  MergeSenderLimitDBLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-mergesenderlimitdb-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"

  MergeSenderLimitDBLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref MergeSenderLimitDBLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  CalcoloPrimaSettimanaLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-CalcoloPrimaSettimana"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt CalcoloPrimaSettimanaLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/CalcoloPrimaSettimana.zip"
      Timeout: 3
      MemorySize: 128

  CalcoloPrimaSettimanaLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-calcoloprimasettimana-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  CalcoloPrimaSettimanaLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref CalcoloPrimaSettimanaLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  AggiornaSimulazioneDBLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-AggiornaSimulazioneDB"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt AggiornaSimulazioneDBLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/AggiornaSimulazioneDB.zip"
      Timeout: 60
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn
          source_bucket: !Ref SimulatorDataBucketName

  AggiornaSimulazioneDBLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-aggiornasimulazionedb-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"

  AggiornaSimulazioneDBLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref AggiornaSimulazioneDBLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  ConfigurazioneSimulazioneLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-ConfigurazioneSimulazione"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt ConfigurazioneSimulazioneLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/ConfigurazioneSimulazione.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  ConfigurazioneSimulazioneLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-configurazionesimulazione-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn

  ConfigurazioneSimulazioneLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref ConfigurazioneSimulazioneLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  FillCapProvRegFromS3LookupLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-FillCapProvRegFromS3Lookup"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt FillCapProvRegFromS3LookupLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/FillCapProvRegFromS3Lookup.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  FillCapProvRegFromS3LookupLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-fillcapprovregfroms3lookup-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"

  FillCapProvRegFromS3LookupLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref FillCapProvRegFromS3LookupLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  DeleteDataLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaDeleteData"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt DeleteDataLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaDeleteData.zip"
      Timeout: 300
      MemorySize: 128

  DeleteDataLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdadeletedata-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"

  DeleteDataLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref DeleteDataLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  GetPaperDeliveryResiduiLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaGetPaperDeliveryResidui"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt GetPaperDeliveryResiduiLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaGetPaperDeliveryResidui.zip"
      Timeout: 300
      MemorySize: 128

  GetPaperDeliveryResiduiLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdagetpaperdeliveryresidui-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"

  GetPaperDeliveryResiduiLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref GetPaperDeliveryResiduiLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  GetUsedCapacityLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaGetUsedCapacity"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt GetUsedCapacityLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaGetUsedCapacity.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  GetUsedCapacityLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdagetusedcapacity-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"

  GetUsedCapacityLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref GetUsedCapacityLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  ImportDataLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaImportData"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt ImportDataLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaImportData.zip"
      Timeout: 300
      MemorySize: 128
      Environment:
        Variables:
          source_bucket: !Ref SimulatorDataBucketName

  ImportDataLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdaimportdata-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:PutObject*
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"

  ImportDataLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref ImportDataLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  InsertMockCapacitiesLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaInsertMockCapacities"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt InsertMockCapacitiesLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaInsertMockCapacities.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn
          source_bucket: !Ref SimulatorDataBucketName

  InsertMockCapacitiesLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdainsertmockcapacities-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:PutObject*
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"

  InsertMockCapacitiesLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref InsertMockCapacitiesLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Lambda LambdaRunAlgorithm
  RunAlgorithmLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-${MicroServiceUniqueName}-Lambda-RunAlgorithm'
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt RunAlgorithmLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub '${MicroserviceBucketBaseKey}/functions_zip/LambdaRunAlgorithm.zip'

  RunAlgorithmLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-${MicroServiceUniqueName}-lambda-runalgorithm-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: '*'

  RunAlgorithmLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub '${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml'
      Parameters:
        FunctionName: !Ref RunAlgorithmLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Lambda ListaFileImportData
  ListaFileImportDataLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-${MicroServiceUniqueName}-Lambda-ListaFileImportData'
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt ListaFileImportDataLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub '${MicroserviceBucketBaseKey}/functions_zip/ListaFileImportData.zip'
      Environment:
        Variables:
          source_bucket: !Ref SimulatorDataBucketName

  ListaFileImportDataLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-${MicroServiceUniqueName}-lambda-listafileimportdata-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3ReadPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${SimulatorDataBucketName}'
                  - !Sub 'arn:aws:s3:::${SimulatorDataBucketName}/*'

  ListaFileImportDataLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub '${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml'
      Parameters:
        FunctionName: !Ref ListaFileImportDataLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Lambda MergeDeclaredCapacityDB
  MergeDeclaredCapacityDBLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-${MicroServiceUniqueName}-Lambda-MergeDeclaredCapacityDB'
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt MergeDeclaredCapacityDBLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub '${MicroserviceBucketBaseKey}/functions_zip/MergeDeclaredCapacityDB.zip'
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  MergeDeclaredCapacityDBLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-${MicroServiceUniqueName}-lambda-mergedeclaredcapacitydb-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn

  MergeDeclaredCapacityDBLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub '${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml'
      Parameters:
        FunctionName: !Ref MergeDeclaredCapacityDBLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Glue Connection
  GlueNetworkConnection:
    Type: AWS::Glue::Connection
    Properties:
      CatalogId: !Ref AWS::AccountId
      ConnectionInput:
        Name: !Sub "pn-simulatore-recapiti-glue-network-connection-${EnvironmentType}"
        Description: !Sub "Glue network connection for ${EnvironmentType} environment to access RDS database"
        ConnectionType: JDBC
        PhysicalConnectionRequirements:
          AvailabilityZone: !Select [0, !Split [',', !Ref VPNServicesSubnetsIds]]
          SecurityGroupIdList:
            - !Ref VPNWebappSecurityGroupId
          SubnetId: !Select [0, !Split [',', !Ref VPNServicesSubnetsIds]]
        ConnectionProperties:
          JDBC_CONNECTION_URL: !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
          JDBC_ENFORCE_SSL: "false"

  # Glue Jobs - Shared Role
  GlueJobSimulatoreRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-Simulatore-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: glue.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSGlueServiceRole
      Policies:
        - PolicyName: GlueJobPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:PutObject
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${MicroserviceBucketName}/*"
                  - !Sub "arn:aws:s3:::${MicroserviceBucketName}"
                  - !Sub "arn:aws:s3:::aws-glue-assets-${AWS::AccountId}-${AWS::Region}/*"
                  - !Sub "arn:aws:s3:::aws-glue-assets-${AWS::AccountId}-${AWS::Region}"
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws-glue/*"
              - Effect: Allow
                Action:
                  - ec2:CreateNetworkInterface
                  - ec2:DescribeNetworkInterfaces
                  - ec2:DeleteNetworkInterface
                  - ec2:DescribeVpcEndpoints
                  - ec2:DescribeSubnets
                  - ec2:DescribeSecurityGroups
                  - ec2:DescribeVpcs
                Resource: "*"
                Condition:
                  StringEquals:
                    ec2:Vpc: !Sub "arn:aws:ec2:${AWS::Region}:${AWS::AccountId}:vpc/${VPNVpcId}"

  GenerazioneCsvImportDataGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-GenerazioneCsvImportData"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/GenerazioneCsvImportData.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--s3_bucket": !Ref SimulatorDataBucketName
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Sub "pn-simulatore-recapiti-glue-network-connection-${EnvironmentType}"
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoDeclaredCapacityDeltaGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoDeclaredCapacityDelta"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoDeclaredCapacityDelta.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Sub "pn-simulatore-recapiti-glue-network-connection-${EnvironmentType}"
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoResiduiPaperDeliveryGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoResiduiPaperDelivery"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoResiduiPaperDelivery.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
        "--s3_bucket": !Ref SimulatorDataBucketName
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Sub "pn-simulatore-recapiti-glue-network-connection-${EnvironmentType}"
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoRisultatiPaperDeliveryGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoRisultatiPaperDelivery"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoRisultatiPaperDelivery.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
        "--s3_bucket": !Ref SimulatorDataBucketName
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Sub "pn-simulatore-recapiti-glue-network-connection-${EnvironmentType}"
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoSenderLimitDeltaGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoSenderLimitDelta"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoSenderLimitDelta.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Sub "pn-simulatore-recapiti-glue-network-connection-${EnvironmentType}"
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoDeclaredCapacityCAPS3GlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoDeclaredCapacityCAP-S3"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoDeclaredCapacityCAP-S3.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--s3_bucket": !Ref SimulatorDataBucketName
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 30
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Sub "pn-simulatore-recapiti-glue-network-connection-${EnvironmentType}"
      ExecutionProperty:
        MaxConcurrentRuns: 1

  # Step Functions
  GestioneSimulazioneStateFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-sf-GestioneSimulazione-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ConfigurazioneSimulazioneLambda.Arn
                  - !GetAtt CalcoloPrimaSettimanaLambda.Arn
                  - !GetAtt MergeSenderLimitDBLambda.Arn
                  - !GetAtt MergeDeclaredCapacityDBLambda.Arn
                  - !GetAtt ListaFileImportDataLambda.Arn
                  - !GetAtt ImportDataLambda.Arn
                  - !GetAtt RunAlgorithmLambda.Arn
                  - !GetAtt AggiornaSimulazioneDBLambda.Arn
              - Effect: Allow
                Action:
                  - glue:StartJobRun
                  - glue:GetJobRun
                  - glue:GetJobRuns
                  - glue:BatchStopJobRun
                Resource:
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${ProjectName}-${MicroServiceUniqueName}-Glue-*"
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"
                Condition:
                  StringEquals:
                    aws:SourceAccount: !Ref AWS::AccountId
              - Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/vendedlogs/states/${ProjectName}-sf-GestioneSimulazione:*"

  GestioneSimulazioneStateFunction:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ProjectName}-${MicroServiceUniqueName}-sf-GestioneSimulazione"
      RoleArn: !GetAtt GestioneSimulazioneStateFunctionRole.Arn
      LoggingConfiguration:
        Level: 'OFF'
      Definition:
        StartAt: CONFIGURAZIONE SIMULAZIONE
        States:
          CONFIGURAZIONE SIMULAZIONE:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt ConfigurazioneSimulazioneLambda.Arn
              Payload.$: $
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: SIMULAZIONE MANUALE?
            ResultPath: $.output_lambda_ConfigurazioneSimulazione
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          SIMULAZIONE MANUALE?:
            Type: Choice
            Choices:
              - Next: RECUPERO DECLARED CAPACITY CAP-S3
                Variable: $.tipo_simulazione
                StringEquals: Manuale
            Default: RECUPERO FILE CSV PER IMPORT DATA
          RECUPERO DECLARED CAPACITY CAP-S3:
            Type: Task
            Resource: arn:aws:states:::glue:startJobRun.sync
            Parameters:
              JobName: !Ref RecuperoDeclaredCapacityCAPS3GlueJob
              Arguments:
                '--id_simulazione_manuale.$': $.id_simulazione_manuale
                '--mese_simulazione.$': $.mese_simulazione
            Next: RECUPERO FILE CSV PER IMPORT DATA
          RECUPERO FILE CSV PER IMPORT DATA:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt ListaFileImportDataLambda.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: Parallel
            ResultPath: $.output_lambda_ListaFileImportData
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          Parallel:
            Type: Parallel
            Next: ADD ANY MOCK CAPACITIES
            Branches:
              - StartAt: MAP IMPORT DATA WEEK 1
                States:
                  MAP IMPORT DATA WEEK 1:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 1
                      States:
                        IMPORT DATA WEEK 1:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt ImportDataLambda.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[0].lista_file_csv_1
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 2
                States:
                  MAP IMPORT DATA WEEK 2:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 2
                      States:
                        IMPORT DATA WEEK 2:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt ImportDataLambda.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[1].lista_file_csv_2
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 3
                States:
                  MAP IMPORT DATA WEEK 3:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 3
                      States:
                        IMPORT DATA WEEK 3:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt ImportDataLambda.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[2].lista_file_csv_3
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 4
                States:
                  MAP IMPORT DATA WEEK 4:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 4
                      States:
                        IMPORT DATA WEEK 4:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt ImportDataLambda.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[3].lista_file_csv_4
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 5
                States:
                  MAP IMPORT DATA WEEK 5:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 5
                      States:
                        IMPORT DATA WEEK 5:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt ImportDataLambda.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[4].lista_file_csv_5
                    MaxConcurrency: 2
                    End: true
          ADD ANY MOCK CAPACITIES:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt InsertMockCapacitiesLambda.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: CHECK ERRORI INSERIMENTI
            ResultPath: $.output_lambda_INSERTMOCKCAPACITIES
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          CHECK ERRORI INSERIMENTI:
            Type: Choice
            Choices:
              - Next: GET ALGORITHM STATUS
                Variable: $.output_lambda_INSERTMOCKCAPACITIES.Payload.errori_presenti
                NumericEquals: 0
            Default: PARALLEL DELETE DATA
          GET ALGORITHM STATUS:
            Type: Task
            Parameters:
              StateMachineArn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-BatchWorkflow"
              MaxResults: 1
            Resource: arn:aws:states:::aws-sdk:sfn:listExecutions
            Next: CHECK ALGOTITHM  STATUS
            ResultSelector:
              lastExecution.$: $.Executions[0]
            ResultPath: $.output_GetAlgorithmStatus
          CHECK ALGOTITHM  STATUS:
            Type: Choice
            Choices:
              - Next: RUN ALGORITHM
                Or:
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: SUCCEEDED
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: FAILED
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: TIMED_OUT
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: ABORTED
            Default: PARALLEL DELETE DATA
          RUN ALGORITHM:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt RunAlgorithmLambda.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: WAIT
            ResultPath: $.output_lambda_RUNALGORITHM
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          WAIT:
            Type: Wait
            Seconds: 5
            Next: GET  ALGORITHM STATUS
          GET  ALGORITHM STATUS:
            Type: Task
            Parameters:
              StateMachineArn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-BatchWorkflow"
              MaxResults: 1
            Resource: arn:aws:states:::aws-sdk:sfn:listExecutions
            Next: CHECK  ALGOTITHM  STATUS
            ResultSelector:
              lastExecution.$: $.Executions[0]
            ResultPath: $.output_GetAlgorithmStatus
          CHECK  ALGOTITHM  STATUS:
            Type: Choice
            Choices:
              - Next: WAIT 10'
                Or:
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: RUNNING
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: PENDING_REDRIVE
              - Next: COUNT RESIDUI
                Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                StringEquals: SUCCEEDED
              - Next: PARALLEL DELETE DATA
                Or:
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: FAILED
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: TIMED_OUT
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: ABORTED
                  - Not:
                      Variable: $.output_lambda_RUNALGORITHM.Payload.statusCode
                      NumericEquals: 200
          COUNT RESIDUI:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt GetPaperDeliveryResiduiLambda.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: RESIDUI PRESENTI?
            ResultPath: $.output_lambda_CountResidui
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          WAIT 10':
            Type: Wait
            Seconds: 600
            Next: GET  ALGORITHM STATUS
          RESIDUI PRESENTI?:
            Type: Choice
            Choices:
              - Next: RUN ALGORITHM
                Variable: $.output_lambda_CountResidui.Payload.continuare_run_algorithm
                NumericEquals: 1
              - Next: RECUPERO CAPACIT DI PRODUZIONE
                Variable: $.output_lambda_CountResidui.Payload.continuare_run_algorithm
                NumericEquals: 0
          RECUPERO CAPACIT DI PRODUZIONE:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt GetUsedCapacityLambda.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: RECUPERO RISULTATI PAPER DELIVERY
            ResultPath: $.output_lambda_RecuperoCapacitaDiProduzione
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          RECUPERO RISULTATI PAPER DELIVERY:
            Type: Task
            Resource: arn:aws:states:::glue:startJobRun.sync
            Parameters:
              JobName: !Ref RecuperoRisultatiPaperDeliveryGlueJob
              Arguments:
                '--id_simulazione_automatizzata.$': $.output_lambda_ConfigurazioneSimulazione.Payload.id_simulazione_automatizzata
                '--id_simulazione_manuale.$': $.id_simulazione_manuale
                '--lista_date.$': States.JsonToString($.output_lambda_CountResidui.Payload.lista_settimane_processate)
                '--count_residui_ultima_settimana.$': $.output_lambda_CountResidui.Payload.count_residui_ultima_settimana
            Next: PARALLEL DELETE DATA
          PARALLEL DELETE DATA:
            Type: Map
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: DELETE DATA
              States:
                DELETE DATA:
                  Type: Task
                  Resource: arn:aws:states:::lambda:invoke
                  Parameters:
                    Payload.$: $
                    FunctionName: !GetAtt DeleteDataLambda.Arn
                  Retry:
                    - ErrorEquals:
                        - Exception
                      IntervalSeconds: 2
                      MaxAttempts: 10
                      BackoffRate: 1
                  End: true
            Next: AGGIORNAMENTO SIMULAZIONE DB
            ItemsPath: $.output_lambda_INSERTMOCKCAPACITIES.Payload.lista_file_csv_caricati
            MaxConcurrency: 6
          AGGIORNAMENTO SIMULAZIONE DB:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt AggiornaSimulazioneDBLambda.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            End: true
      TracingConfiguration:
        Enabled: false

  RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-sf-RecuperoDati-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: StepFunctionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt CalcoloPrimaSettimanaLambda.Arn
                  - !GetAtt MergeDeclaredCapacityDBLambda.Arn
                  - !GetAtt MergeSenderLimitDBLambda.Arn
              - Effect: Allow
                Action:
                  - glue:StartJobRun
                  - glue:GetJobRun
                  - glue:GetJobRuns
                  - glue:BatchStopJobRun
                Resource:
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${RecuperoResiduiPaperDeliveryGlueJob}"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${RecuperoDeclaredCapacityDeltaGlueJob}"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${RecuperoSenderLimitDeltaGlueJob}"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${GenerazioneCsvImportDataGlueJob}"
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-${MicroServiceUniqueName}-sf-GestioneSimulazione"
              - Effect: Allow
                Action:
                  - states:DescribeExecution
                  - states:StopExecution
                Resource: '*'
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource:
                  - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"
                Condition:
                  StringEquals:
                    aws:SourceAccount: !Ref AWS::AccountId
              - Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/vendedlogs/states/${ProjectName}-sf-RecuperoDati:*"

  RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ProjectName}-${MicroServiceUniqueName}-sf-RecuperoDati"
      RoleArn: !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunctionRole.Arn
      LoggingConfiguration:
        Level: 'OFF'
      Definition:
        StartAt: CALCOLO PRIMA SETTIMANA
        States:
          CALCOLO PRIMA SETTIMANA:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt CalcoloPrimaSettimanaLambda.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: Map
            ResultSelector:
              Payload.$: $.Payload
            ResultPath: $.output_lambda_CalcoloPrimaSettimana
          Map:
            Type: Map
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: Parallel
              States:
                Parallel:
                  Type: Parallel
                  Branches:
                    - StartAt: Run PAPER DELIVERY?
                      States:
                        Run PAPER DELIVERY?:
                          Type: Choice
                          Choices:
                            - Next: PAPER DELIVERY
                              Variable: $$.Execution.Input.run_paper_delivery
                              NumericEquals: 1
                          Default: Skip PAPER DELIVERY
                        PAPER DELIVERY:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref RecuperoResiduiPaperDeliveryGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          End: true
                        Skip PAPER DELIVERY:
                          Type: Pass
                          End: true
                    - StartAt: Run DECLARED CAPACITY?
                      States:
                        Run DECLARED CAPACITY?:
                          Type: Choice
                          Choices:
                            - Next: DECLARED CAPACITY
                              Variable: $$.Execution.Input.run_declared_capacity
                              NumericEquals: 1
                          Default: Skip DECLARED CAPACITY
                        DECLARED CAPACITY:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref RecuperoDeclaredCapacityDeltaGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          Next: MERGE DB
                          ResultPath: $.output_jobGlue_DECLAREDCAPACITY
                        MERGE DB:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt MergeDeclaredCapacityDBLambda.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                        Skip DECLARED CAPACITY:
                          Type: Pass
                          End: true
                    - StartAt: Run SENDER LIMIT + CREATE CSV POSTALIZZAZIONI?
                      States:
                        Run SENDER LIMIT + CREATE CSV POSTALIZZAZIONI?:
                          Type: Choice
                          Choices:
                            - Next: SENDER LIMIT
                              Variable: $$.Execution.Input.run_sender_limit
                              NumericEquals: 1
                            - Next: CREATE CSV POSTALIZZAZIONI
                              Variable: $$.Execution.Input.run_create_csv_postalizzazioni_without_sender_limit
                              NumericEquals: 1
                          Default: Skip SENDER LIMIT + CREATE CSV POSTALIZZAZIONI
                        SENDER LIMIT:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref RecuperoSenderLimitDeltaGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          Next: MERGE  DB
                          ResultPath: $.output_jobGlue_SENDERLIMIT
                        MERGE  DB:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt MergeSenderLimitDBLambda.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          Next: Run CREATE CSV POSTALIZZAZIONI?
                          ResultPath: $.output_lambda_MERGEDB
                        Run CREATE CSV POSTALIZZAZIONI?:
                          Type: Choice
                          Choices:
                            - Next: CREATE CSV POSTALIZZAZIONI
                              Variable: $$.Execution.Input.run_create_csv_postalizzazioni_after_sender_limit
                              NumericEquals: 1
                          Default: Skip CREATE CSV POSTALIZZAZIONI
                        Skip CREATE CSV POSTALIZZAZIONI:
                          Type: Pass
                          End: true
                        CREATE CSV POSTALIZZAZIONI:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref GenerazioneCsvImportDataGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          End: true
                        Skip SENDER LIMIT + CREATE CSV POSTALIZZAZIONI:
                          Type: Pass
                          End: true
                  End: true
            Next: Run GESTIONE SIMULAZIONE
            MaxConcurrency: 1
            ItemsPath: $.output_lambda_CalcoloPrimaSettimana.Payload.date_simulazione
          Run GESTIONE SIMULAZIONE:
            Type: Choice
            Choices:
              - Next: GESTIONE SIMULAZIONE
                Variable: $.run_gestione_simulazione
                NumericEquals: 1
            Default: Skip GESTIONE SIMULAZIONE
          GESTIONE SIMULAZIONE:
            Type: Task
            Resource: arn:aws:states:::states:startExecution.sync:2
            Parameters:
              StateMachineArn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-${MicroServiceUniqueName}-sf-GestioneSimulazione"
              Input:
                tipo_simulazione: Automatizzata
                id_simulazione_manuale: ''
                mese_simulazione.$: $.output_lambda_CalcoloPrimaSettimana.Payload.date_simulazione[0]['mese_simulazione']
            End: true
          Skip GESTIONE SIMULAZIONE:
            Type: Pass
            End: true
      TracingConfiguration:
        Enabled: false

  # EventBridge Scheduler Role for manual simulations
  EventBridgeSchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Scheduler-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctionExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !GetAtt GestioneSimulazioneStateFunction.Arn

  # EventBridge Rule for weekly simulation
  SimulazioneAutomatizzataSettimanaleEventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-EB-SimAuto"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctionExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction.Arn

  SimulazioneAutomatizzataSettimanaleEventBridgeRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-EB-SimAuto-Weekly"
      Description: "Trigger settimanale della step function pn-simulatore-recapiti-RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanale"
      ScheduleExpression: "cron(0 21 ? * MON *)"
      State: !Ref EventBridgeRuleState
      Targets:
        - Arn: !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction.Arn
          RoleArn: !GetAtt SimulazioneAutomatizzataSettimanaleEventBridgeRole.Arn
          Id: RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleTarget
          Input: |
            {
              "run_paper_delivery": 1,
              "run_declared_capacity": 1,
              "run_sender_limit": 1,
              "run_create_csv_postalizzazioni_after_sender_limit": 1,
              "run_create_csv_postalizzazioni_without_sender_limit": 1,
              "run_gestione_simulazione": 1
            }