scripts/aws/cfn/microservice.yml
AWSTemplateFormatVersion: 2010-09-09
Description: 'Example microservice deploy'

Parameters:
  ProjectName:
    Type: String
    Description: 'Usually pn can be pnXYZ where XYZ are the feature number, useful to create
      experimental environments without crash official development environment'

  EnvironmentType:
    Type: String
    AllowedValues:
      - dev
      - test
      - uat
      - hotfix
      - prod
    Default: dev

  AlarmSNSTopicArn:
    Type: String
    Description: 'ARN of alarm topic'

  MicroServiceUniqueName:
    Type: String
    Description: 'Unique name for the microservice'

  ContainerImageUri:
    Type: String
    Description: 'Exact container image URI with full repository and image digest'

  MicroserviceNumber:
    Type: Number
    Description: 'Disambiguation useful for load balancer rules'

  TemplateBucketBaseUrl:
    Type: String
    Description: 'The S3 bucket from which to fetch the templates used by this stack.'

  VPNECSClusterName:
    Type: String
    Description: 'The name of the ECS cluster where the microservice is going to be deployed'

  VPNServicesSubnetsIds:
    Type: String
    Description: 'subnets ids comma separated list. Where to deploy the microservice'

  VPNDefaultSecurityGroupId:
    Type: String
    Description: 'Default security group ID for the VPC'

  VPNVpcId:
    Type: String
    Description: 'VpcId where the microservice is going to be deployed'

  VPNVpcCidr:
    Type: String
    Description: 'Source VPC CIDR block for RDS ingress rule'

  VPNApplicationLoadBalancerListenerArn:
    Type: String
    Description: 'Load balancer listener where HTTP endpoints is going to be registered'

  VPNWebappSecurityGroupId:
    Type: String
    Description: 'Security group ID for the web application'

  EcsDefaultSecurityGroup:
    Type: String
    Description: 'Default security group required by infrastructure'

  RdsSimulatorPort:
    Type: Number
    Description: RDS Cluster Port (from storage stack)

  SimulatorAlbPath:
    Type: String
    Default: /*

  SimulatorHealthCheckPath:
    Type: String
    Default: /status

  MinTasksNumber:
    Default: 1
    Type: Number
    Description: 'minimum autoscaling number of tasks'

  MaxTasksNumber:
    Default: 6
    Type: Number
    Description: 'maximum autoscaling number of tasks'

  MicroserviceBucketName:
    Type: String
    Default: 'default-microservice-bucket'
    Description: 'Name of the bucket where the microservice files are copied during deploy'

  MicroserviceBucketBaseKey:
    Type: String
    Default: ''
    Description: 'Base key of the microservice in the s3 bucket'

  # Log group parameters
  EcsLogGroup:
    Type: String
    Description: 'Ecs log group name'

  LogAlarmStrategy:
    Type: String
    Default: 'FATAL'

  # Heath Check parameters
  HealthCheckInterval:
    Description: 'Seconds between two health check'
    Type: Number
    Default: 60

  HealthCheckTimeout:
    Description: 'health check timeout seconds'
    Type: Number
    Default: 5

  HealthyThresholdCount:
    Description: 'The number of consecutive health checks successes required before considering 
      an unhealthy target healthy.'
    Type: Number
    Default: 5

  UnhealthyThresholdCount:
    Description: 'The number of consecutive health check failures required before considering a target unhealthy.'
    Type: Number
    Default: 2

  # Instance parameters
  # 256 (.25 vCPU) - Available memory values: 0.5GB, 1GB, 2GB
  # 512 (.5 vCPU) - Available memory values: 1GB, 2GB, 3GB, 4GB
  # 1024 (1 vCPU) - Available memory values: 2GB, 3GB, 4GB, 5GB, 6GB, 7GB, 8GB
  # 2048 (2 vCPU) - Available memory values: Between 4GB and 16GB in 1GB increments
  # 4096 (4 vCPU) - Available memory values: Between 8GB and 30GB in 1GB increments

  SvcSimulatorUsername:
    Description: service user Username
    Type: String

  RdsSimulatorEndpointAddress:
    Description: RDS Cluster Writer Endpoint Address
    Type: String

  RdsSimulatorDbName:
    Description: RDS Database Name
    Type: String

  SvcSimulatorUserSecretArn:
    Description: ARN of the placeholder secret for service user
    Type: String

  AllowedHosts:
    Type: String

  SimulatorDataBucketName:
    Type: String
    Description: 'Name of the S3 bucket for simulator data (from storage stack)'

  # Glue Parameters
  GlueConnectionName:
    Type: String
    Description: 'Glue connection name for Aurora database'
    Default: 'pn-simulatore-recapiti-glue-network-connection'

  CpuValue:
    Type: Number
    Default: 1024
    Description: 'Fargate virtual CPU quantity 1024 equals one vCPU'

  # 0.5GB, 1GB, 2GB - Available cpu values: 256 (.25 vCPU)
  # 1GB, 2GB, 3GB, 4GB - Available cpu values: 512 (.5 vCPU)
  # 2GB, 3GB, 4GB, 5GB, 6GB, 7GB, 8GB - Available cpu values: 1024 (1 vCPU)
  # Between 4GB and 16GB in 1GB increments - Available cpu values: 2048 (2 vCPU)
  # Between 8GB and 30GB in 1GB increments - Available cpu values: 4096 (4 vCPU)
  MemoryAmount:
    Type: String
    Default: 2GB
    Description: 'memory amount reserved to the task pod.'
    AllowedValues: [ 2GB, 4GB, 6GB, 8GB ]

  PnDelayerLambdaName:
    Type: String
    Description: 'Name of the pn-delayer-lambda function to be invoked'

Resources:
  SimulatorMicroservice:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/ecs-service.yaml"
      Parameters:
        MicroServiceUniqueName: !Sub "${ProjectName}-${MicroServiceUniqueName}"
        CpuValue: !Ref CpuValue
        MemoryAmount: !Ref MemoryAmount
        MappedPaths: !Ref SimulatorAlbPath
        HealthCheckTimeout: !Ref HealthCheckTimeout
        HealthCheckInterval: !Ref HealthCheckInterval
        HealthyThresholdCount: !Ref HealthyThresholdCount
        UnhealthyThresholdCount: !Ref UnhealthyThresholdCount
        HealthCheckPath: !Ref SimulatorHealthCheckPath
        MinTasksNumber: !Ref MinTasksNumber
        MaxTasksNumber: !Ref MaxTasksNumber
        ContainerEnvEntry1: !Sub DB_NAME=${RdsSimulatorDbName}
        ContainerEnvEntry2: !Sub DB_USER=${SvcSimulatorUsername}
        ContainerEnvEntry3: !Sub DB_HOST=${RdsSimulatorEndpointAddress}
        ContainerEnvEntry4: !Sub DB_PORT=${RdsSimulatorPort}
        ContainerEnvEntry5: !Sub ALLOWED_HOSTS=${AllowedHosts}
        ContainerEnvEntry6: !Sub ROLE_EVENTBRIDGE_STARTEXECUTIONSF_ARN=arn:aws:iam::${AWS::AccountId}:role/${ProjectName}-${MicroServiceUniqueName}-TaskRole
        ContainerEnvEntry7: !GetAtt GestioneSimulazioneStateFunction.Arn
        ContainerSecret1: !Sub 'DB_PASSWORD=${SvcSimulatorUserSecretArn}:password:AWSCURRENT:'
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn
        ContainerImageURI: !Ref ContainerImageUri
        ECSClusterName: !Ref VPNECSClusterName
        Subnets: !Ref VPNServicesSubnetsIds
        VpcId: !Ref VPNVpcId
        AlbSecurityGroup: !Ref VPNWebappSecurityGroupId
        LoadBalancerListenerArn: !Ref VPNApplicationLoadBalancerListenerArn
        LoadbalancerRulePriority: !Ref MicroserviceNumber
        EcsDefaultSecurityGroup: !Ref EcsDefaultSecurityGroup
        EcsLogGroup: !Ref EcsLogGroup
        LogAlarmStrategyV1: !Ref LogAlarmStrategy
        TaskRoleManagedPolicyArn: !Ref SimulatorMicroserviceTaskManagedPolicy
        MicroServiceSecretPrefix: pn-simulatore-recapiti-db-svc-user-credentials

  EcsSimulatorDefaultSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SG with specific egress for pn-simulatore-recapiti tasks
      VpcId: !Ref VPNVpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: !Ref RdsSimulatorPort
          ToPort: !Ref RdsSimulatorPort
          DestinationSecurityGroupId: !Ref VPNWebappSecurityGroupId
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      Tags:
        - Key: Name
          Value: pn-simulatore-recapiti-EcsSimulatorDefault-sg
        - Key: Environment
          Value: !Ref EnvironmentType

  SimulatorMicroserviceTaskManagedPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Sid: AllowSecretManagerAccess
            Effect: Allow
            Action: secretsmanager:GetSecretValue
            Resource: !Ref SvcSimulatorUserSecretArn
          - Sid: InvokeStepFunction
            Effect: Allow
            Action: states:StartExecution
            Resource:
              - !GetAtt GestioneSimulazioneStateFunction.Arn
              - !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction.Arn
          - Sid: EventBridgeSchedulerAccess
            Effect: Allow
            Action:
              - scheduler:CreateSchedule
              - scheduler:GetSchedule
              - scheduler:UpdateSchedule
              - scheduler:DeleteSchedule
              - scheduler:ListSchedules
            Resource: !Sub "arn:aws:scheduler:${AWS::Region}:${AWS::AccountId}:schedule/*/*"
          - Sid: EventBridgeSchedulerBasicPermissions
            Effect: Allow
            Action:
              - scheduler:ListScheduleGroups
              - scheduler:GetScheduleGroup
            Resource: "*"
          - Sid: PassRolePermission
            Effect: Allow
            Action: iam:PassRole
            Resource: !Sub "arn:aws:iam::${AWS::AccountId}:role/${ProjectName}-${MicroServiceUniqueName}-TaskRole"

  # Lambda Functions
  MergeSenderLimitDBFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-MergeSenderLimitDB"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt MergeSenderLimitDBFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/MergeSenderLimitDB.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  MergeSenderLimitDBFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-mergesenderlimitdb-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"

  MergeSenderLimitDBFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref MergeSenderLimitDBFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  CalcoloPrimaSettimanaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-CalcoloPrimaSettimana"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt CalcoloPrimaSettimanaLambdaRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/CalcoloPrimaSettimana.zip"
      Timeout: 3
      MemorySize: 128

  CalcoloPrimaSettimanaLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-calcoloprimasettimana-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  CalcoloPrimaSettimanaFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref CalcoloPrimaSettimanaFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  AggiornaSimulazioneDBFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-AggiornaSimulazioneDB"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt AggiornaSimulazioneDBFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/AggiornaSimulazioneDB.zip"
      Timeout: 60
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn
          source_bucket: !Ref SimulatorDataBucketName

  AggiornaSimulazioneDBFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-aggiornasimulazionedb-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"

  AggiornaSimulazioneDBFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref AggiornaSimulazioneDBFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  ConfigurazioneSimulazioneFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-ConfigurazioneSimulazione"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt ConfigurazioneSimulazioneFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/ConfigurazioneSimulazione.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  ConfigurazioneSimulazioneFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-configurazionesimulazione-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn

  ConfigurazioneSimulazioneFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref ConfigurazioneSimulazioneFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  FillCapProvRegFromS3LookupFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-FillCapProvRegFromS3Lookup"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt FillCapProvRegFromS3LookupFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/FillCapProvRegFromS3Lookup.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  FillCapProvRegFromS3LookupFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-fillcapprovregfroms3lookup-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"

  FillCapProvRegFromS3LookupFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref FillCapProvRegFromS3LookupFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  LambdaDeleteDataFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaDeleteData"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaDeleteDataFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaDeleteData.zip"
      Timeout: 300
      MemorySize: 128

  LambdaDeleteDataFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdadeletedata-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"

  LambdaDeleteDataFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref LambdaDeleteDataFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  LambdaGetPaperDeliveryResiduiFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaGetPaperDeliveryResidui"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaGetPaperDeliveryResiduiFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaGetPaperDeliveryResidui.zip"
      Timeout: 300
      MemorySize: 128

  LambdaGetPaperDeliveryResiduiFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdagetpaperdeliveryresidui-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"

  LambdaGetPaperDeliveryResiduiFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref LambdaGetPaperDeliveryResiduiFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  LambdaGetUsedCapacityFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaGetUsedCapacity"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaGetUsedCapacityFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaGetUsedCapacity.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  LambdaGetUsedCapacityFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdagetusedcapacity-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"

  LambdaGetUsedCapacityFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref LambdaGetUsedCapacityFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  LambdaImportDataFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaImportData"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaImportDataFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaImportData.zip"
      Timeout: 300
      MemorySize: 128
      Environment:
        Variables:
          source_bucket: !Ref SimulatorDataBucketName

  LambdaImportDataFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdaimportdata-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:PutObject*
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"

  LambdaImportDataFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref LambdaImportDataFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  LambdaInsertMockCapacitiesFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Lambda-LambdaInsertMockCapacities"
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaInsertMockCapacitiesFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/LambdaInsertMockCapacities.zip"
      Timeout: 300
      MemorySize: 128
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn
          source_bucket: !Ref SimulatorDataBucketName

  LambdaInsertMockCapacitiesFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-lambda-lambdainsertmockcapacities-role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${MicroServiceUniqueName}-Lambda-*"
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:PutObject*
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"

  LambdaInsertMockCapacitiesFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref LambdaInsertMockCapacitiesFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Lambda LambdaRunAlgorithm
  LambdaRunAlgorithmFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-LambdaRunAlgorithm'
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt LambdaRunAlgorithmFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub '${MicroserviceBucketBaseKey}/functions_zip/LambdaRunAlgorithm.zip'

  LambdaRunAlgorithmFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-lambda-runalgorithm-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaInvokePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: '*'

  LambdaRunAlgorithmFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub '${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml'
      Parameters:
        FunctionName: !Ref LambdaRunAlgorithmFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Lambda ListaFileImportData
  ListaFileImportDataFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-ListaFileImportData'
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt ListaFileImportDataFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub '${MicroserviceBucketBaseKey}/functions_zip/ListaFileImportData.zip'
      Environment:
        Variables:
          source_bucket: !Ref SimulatorDataBucketName

  ListaFileImportDataFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-lambda-listafileimportdata-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3ReadPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${SimulatorDataBucketName}'
                  - !Sub 'arn:aws:s3:::${SimulatorDataBucketName}/*'

  ListaFileImportDataFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub '${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml'
      Parameters:
        FunctionName: !Ref ListaFileImportDataFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Lambda MergeDeclaredCapacityDB
  MergeDeclaredCapacityDBFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-MergeDeclaredCapacityDB'
      Runtime: python3.13
      Handler: lambda_function.lambda_handler
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt MergeDeclaredCapacityDBFunctionRole.Arn
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub '${MicroserviceBucketBaseKey}/functions_zip/MergeDeclaredCapacityDB.zip'
      VpcConfig:
        SecurityGroupIds:
          - !Ref VPNWebappSecurityGroupId
        SubnetIds: !Split [',', !Ref VPNServicesSubnetsIds]
      Environment:
        Variables:
          DB_HOST: !Ref RdsSimulatorEndpointAddress
          DB_PORT: !Ref RdsSimulatorPort
          DB_NAME: !Ref RdsSimulatorDbName
          secretsManager_SecretId: !Ref SvcSimulatorUserSecretArn

  MergeDeclaredCapacityDBFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-lambda-mergedeclaredcapacitydb-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn

  MergeDeclaredCapacityDBFunctionAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub '${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml'
      Parameters:
        FunctionName: !Ref MergeDeclaredCapacityDBFunction
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  # Glue Jobs - Shared Role
  GlueJobSimulatoreRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-Simulatore-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: glue.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSGlueServiceRole
      Policies:
        - PolicyName: GlueJobPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SvcSimulatorUserSecretArn
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PnDelayerLambdaName}"
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:PutObject
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}/*"
                  - !Sub "arn:aws:s3:::${SimulatorDataBucketName}"
                  - !Sub "arn:aws:s3:::${MicroserviceBucketName}/*"
                  - !Sub "arn:aws:s3:::${MicroserviceBucketName}"
                  - !Sub "arn:aws:s3:::aws-glue-assets-${AWS::AccountId}-${AWS::Region}/*"
                  - !Sub "arn:aws:s3:::aws-glue-assets-${AWS::AccountId}-${AWS::Region}"
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws-glue/*"
              - Effect: Allow
                Action:
                  - ec2:CreateNetworkInterface
                  - ec2:DescribeNetworkInterfaces
                  - ec2:DeleteNetworkInterface
                  - ec2:DescribeVpcEndpoints
                  - ec2:DescribeSubnets
                  - ec2:DescribeSecurityGroups
                  - ec2:DescribeVpcs
                Resource: "*"
                Condition:
                  StringEquals:
                    ec2:Vpc: !Sub "arn:aws:ec2:${AWS::Region}:${AWS::AccountId}:vpc/${VPNVpcId}"

  GenerazioneCsvImportDataGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-GenerazioneCsvImportData"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/GenerazioneCsvImportData.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--s3_bucket": !Ref SimulatorDataBucketName
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Ref GlueConnectionName
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoDeclaredCapacityDeltaGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoDeclaredCapacityDelta"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoDeclaredCapacityDelta.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Ref GlueConnectionName
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoResiduiPaperDeliveryGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoResiduiPaperDelivery"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoResiduiPaperDelivery.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
        "--s3_bucket": !Ref SimulatorDataBucketName
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Ref GlueConnectionName
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoRisultatiPaperDeliveryGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoRisultatiPaperDelivery"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoRisultatiPaperDelivery.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
        "--s3_bucket": !Ref SimulatorDataBucketName
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Ref GlueConnectionName
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoSenderLimitDeltaGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoSenderLimitDelta"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoSenderLimitDelta.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Ref GlueConnectionName
      ExecutionProperty:
        MaxConcurrentRuns: 1

  RecuperoDeclaredCapacityCAPS3GlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-Glue-RecuperoDeclaredCapacityCAP-S3"
      Role: !GetAtt GlueJobSimulatoreRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/RecuperoDeclaredCapacityCAP-S3.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--spark-event-logs-path": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/sparkHistoryLogs/"
        "--enable-job-insights": "true"
        "--enable-glue-datacatalog": "true"
        "--enable-continuous-cloudwatch-log": "true"
        "--job-language": "python"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
        "--jdbc_connection": !Sub "jdbc:postgresql://${RdsSimulatorEndpointAddress}:${RdsSimulatorPort}/${RdsSimulatorDbName}"
        "--s3_bucket": !Ref SimulatorDataBucketName
        "--secretsManager_SecretId": !Ref SvcSimulatorUserSecretArn
      MaxRetries: 0
      Timeout: 30
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      Connections:
        Connections:
          - !Ref GlueConnectionName
      ExecutionProperty:
        MaxConcurrentRuns: 1

  # Step Functions
  GestioneSimulazioneStateFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-StepFunction-GestioneSimulazione-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ConfigurazioneSimulazioneFunction.Arn
                  - !GetAtt CalcoloPrimaSettimanaFunction.Arn
                  - !GetAtt MergeSenderLimitDBFunction.Arn
                  - !GetAtt MergeDeclaredCapacityDBFunction.Arn
                  - !GetAtt ListaFileImportDataFunction.Arn
                  - !GetAtt LambdaImportDataFunction.Arn
                  - !GetAtt LambdaRunAlgorithmFunction.Arn
                  - !GetAtt AggiornaSimulazioneDBFunction.Arn
              - Effect: Allow
                Action:
                  - glue:StartJobRun
                  - glue:GetJobRun
                  - glue:GetJobRuns
                  - glue:BatchStopJobRun
                Resource:
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${ProjectName}-${MicroServiceUniqueName}-Glue-*"

  GestioneSimulazioneStateFunction:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ProjectName}-${MicroServiceUniqueName}-stepfunction-GestioneSimulazione"
      RoleArn: !GetAtt GestioneSimulazioneStateFunctionRole.Arn
      Definition:
        StartAt: CONFIGURAZIONE SIMULAZIONE
        States:
          CONFIGURAZIONE SIMULAZIONE:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt ConfigurazioneSimulazioneFunction.Arn
              Payload.$: $
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: SIMULAZIONE MANUALE?
            ResultPath: $.output_lambda_ConfigurazioneSimulazione
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          SIMULAZIONE MANUALE?:
            Type: Choice
            Choices:
              - Next: RECUPERO DECLARED CAPACITY CAP-S3
                Variable: $.tipo_simulazione
                StringEquals: Manuale
            Default: RECUPERO FILE CSV PER IMPORT DATA
          RECUPERO DECLARED CAPACITY CAP-S3:
            Type: Task
            Resource: arn:aws:states:::glue:startJobRun.sync
            Parameters:
              JobName: !Ref RecuperoDeclaredCapacityCAPS3GlueJob
              Arguments:
                '--id_simulazione_manuale.$': $.id_simulazione_manuale
                '--mese_simulazione.$': $.mese_simulazione
            Next: RECUPERO FILE CSV PER IMPORT DATA
          RECUPERO FILE CSV PER IMPORT DATA:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt ListaFileImportDataFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: Parallel
            ResultPath: $.output_lambda_ListaFileImportData
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          Parallel:
            Type: Parallel
            Next: ADD ANY MOCK CAPACITIES
            Branches:
              - StartAt: MAP IMPORT DATA WEEK 1
                States:
                  MAP IMPORT DATA WEEK 1:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 1
                      States:
                        IMPORT DATA WEEK 1:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt LambdaImportDataFunction.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[0].lista_file_csv_1
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 2
                States:
                  MAP IMPORT DATA WEEK 2:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 2
                      States:
                        IMPORT DATA WEEK 2:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt LambdaImportDataFunction.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[1].lista_file_csv_2
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 3
                States:
                  MAP IMPORT DATA WEEK 3:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 3
                      States:
                        IMPORT DATA WEEK 3:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt LambdaImportDataFunction.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[2].lista_file_csv_3
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 4
                States:
                  MAP IMPORT DATA WEEK 4:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 4
                      States:
                        IMPORT DATA WEEK 4:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt LambdaImportDataFunction.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[3].lista_file_csv_4
                    MaxConcurrency: 2
                    End: true
              - StartAt: MAP IMPORT DATA WEEK 5
                States:
                  MAP IMPORT DATA WEEK 5:
                    Type: Map
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: INLINE
                      StartAt: IMPORT DATA WEEK 5
                      States:
                        IMPORT DATA WEEK 5:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt LambdaImportDataFunction.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                    ItemsPath: $.output_lambda_ListaFileImportData.Payload.lista_file_csv[4].lista_file_csv_5
                    MaxConcurrency: 2
                    End: true
          ADD ANY MOCK CAPACITIES:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt LambdaInsertMockCapacitiesFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: CHECK ERRORI INSERIMENTI
            ResultPath: $.output_lambda_INSERTMOCKCAPACITIES
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          CHECK ERRORI INSERIMENTI:
            Type: Choice
            Choices:
              - Next: GET ALGORITHM STATUS
                Variable: $.output_lambda_INSERTMOCKCAPACITIES.Payload.errori_presenti
                NumericEquals: 0
            Default: PARALLEL DELETE DATA
          GET ALGORITHM STATUS:
            Type: Task
            Parameters:
              StateMachineArn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-BatchWorkflow"
              MaxResults: 1
            Resource: arn:aws:states:::aws-sdk:sfn:listExecutions
            Next: CHECK ALGOTITHM  STATUS
            ResultSelector:
              lastExecution.$: $.Executions[0]
            ResultPath: $.output_GetAlgorithmStatus
          CHECK ALGOTITHM  STATUS:
            Type: Choice
            Choices:
              - Next: RUN ALGORITHM
                Or:
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: SUCCEEDED
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: FAILED
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: TIMED_OUT
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: ABORTED
            Default: PARALLEL DELETE DATA
          RUN ALGORITHM:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt LambdaRunAlgorithmFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: WAIT
            ResultPath: $.output_lambda_RUNALGORITHM
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          WAIT:
            Type: Wait
            Seconds: 5
            Next: GET  ALGORITHM STATUS
          GET  ALGORITHM STATUS:
            Type: Task
            Parameters:
              StateMachineArn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-BatchWorkflow"
              MaxResults: 1
            Resource: arn:aws:states:::aws-sdk:sfn:listExecutions
            Next: CHECK  ALGOTITHM  STATUS
            ResultSelector:
              lastExecution.$: $.Executions[0]
            ResultPath: $.output_GetAlgorithmStatus
          CHECK  ALGOTITHM  STATUS:
            Type: Choice
            Choices:
              - Next: WAIT 10'
                Or:
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: RUNNING
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: PENDING_REDRIVE
              - Next: COUNT RESIDUI
                Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                StringEquals: SUCCEEDED
              - Next: PARALLEL DELETE DATA
                Or:
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: FAILED
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: TIMED_OUT
                  - Variable: $.output_GetAlgorithmStatus.lastExecution.Status
                    StringEquals: ABORTED
                  - Not:
                      Variable: $.output_lambda_RUNALGORITHM.Payload.statusCode
                      NumericEquals: 200
          COUNT RESIDUI:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt LambdaGetPaperDeliveryResiduiFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: RESIDUI PRESENTI?
            ResultPath: $.output_lambda_CountResidui
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          WAIT 10':
            Type: Wait
            Seconds: 600
            Next: GET  ALGORITHM STATUS
          RESIDUI PRESENTI?:
            Type: Choice
            Choices:
              - Next: RUN ALGORITHM
                Variable: $.output_lambda_CountResidui.Payload.continuare_run_algorithm
                NumericEquals: 1
              - Next: RECUPERO CAPACIT DI PRODUZIONE
                Variable: $.output_lambda_CountResidui.Payload.continuare_run_algorithm
                NumericEquals: 0
          RECUPERO CAPACIT DI PRODUZIONE:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt LambdaGetUsedCapacityFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: RECUPERO RISULTATI PAPER DELIVERY
            ResultPath: $.output_lambda_RecuperoCapacitaDiProduzione
            ResultSelector:
              Payload.$: $.Payload
            OutputPath: $
          RECUPERO RISULTATI PAPER DELIVERY:
            Type: Task
            Resource: arn:aws:states:::glue:startJobRun.sync
            Parameters:
              JobName: !Ref RecuperoRisultatiPaperDeliveryGlueJob
              Arguments:
                '--id_simulazione_automatizzata.$': $.output_lambda_ConfigurazioneSimulazione.Payload.id_simulazione_automatizzata
                '--id_simulazione_manuale.$': $.id_simulazione_manuale
                '--lista_date.$': States.JsonToString($.output_lambda_CountResidui.Payload.lista_settimane_processate)
                '--count_residui_ultima_settimana.$': $.output_lambda_CountResidui.Payload.count_residui_ultima_settimana
            Next: PARALLEL DELETE DATA
          PARALLEL DELETE DATA:
            Type: Map
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: DELETE DATA
              States:
                DELETE DATA:
                  Type: Task
                  Resource: arn:aws:states:::lambda:invoke
                  Parameters:
                    Payload.$: $
                    FunctionName: !GetAtt LambdaDeleteDataFunction.Arn
                  Retry:
                    - ErrorEquals:
                        - Exception
                      IntervalSeconds: 2
                      MaxAttempts: 10
                      BackoffRate: 1
                  End: true
            Next: AGGIORNAMENTO SIMULAZIONE DB
            ItemsPath: $.output_lambda_INSERTMOCKCAPACITIES.Payload.lista_file_csv_caricati
            MaxConcurrency: 6
          AGGIORNAMENTO SIMULAZIONE DB:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt AggiornaSimulazioneDBFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            End: true
      TracingConfiguration:
        Enabled: false

  RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-StepFunction-RecuperoDati-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: StepFunctionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt CalcoloPrimaSettimanaFunction.Arn
                  - !GetAtt MergeDeclaredCapacityDBFunction.Arn
                  - !GetAtt MergeSenderLimitDBFunction.Arn
              - Effect: Allow
                Action:
                  - glue:StartJobRun
                  - glue:GetJobRun
                  - glue:GetJobRuns
                  - glue:BatchStopJobRun
                Resource:
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${RecuperoResiduiPaperDeliveryGlueJob}"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${RecuperoDeclaredCapacityDeltaGlueJob}"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${RecuperoSenderLimitDeltaGlueJob}"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${GenerazioneCsvImportDataGlueJob}"
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-${MicroServiceUniqueName}-stepfunction-GestioneSimulazione"
              - Effect: Allow
                Action:
                  - states:DescribeExecution
                  - states:StopExecution
                Resource: '*'
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource:
                  - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"

  RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ProjectName}-${MicroServiceUniqueName}-stepfunction-RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanale"
      RoleArn: !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunctionRole.Arn
      Definition:
        StartAt: CALCOLO PRIMA SETTIMANA
        States:
          CALCOLO PRIMA SETTIMANA:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $
            Parameters:
              Payload.$: $
              FunctionName: !GetAtt CalcoloPrimaSettimanaFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: Map
            ResultSelector:
              Payload.$: $.Payload
            ResultPath: $.output_lambda_CalcoloPrimaSettimana
          Map:
            Type: Map
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: Parallel
              States:
                Parallel:
                  Type: Parallel
                  Branches:
                    - StartAt: Run PAPER DELIVERY?
                      States:
                        Run PAPER DELIVERY?:
                          Type: Choice
                          Choices:
                            - Next: PAPER DELIVERY
                              Variable: $$.Execution.Input.run_paper_delivery
                              NumericEquals: 1
                          Default: Skip PAPER DELIVERY
                        PAPER DELIVERY:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref RecuperoResiduiPaperDeliveryGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          End: true
                        Skip PAPER DELIVERY:
                          Type: Pass
                          End: true
                    - StartAt: Run DECLARED CAPACITY?
                      States:
                        Run DECLARED CAPACITY?:
                          Type: Choice
                          Choices:
                            - Next: DECLARED CAPACITY
                              Variable: $$.Execution.Input.run_declared_capacity
                              NumericEquals: 1
                          Default: Skip DECLARED CAPACITY
                        DECLARED CAPACITY:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref RecuperoDeclaredCapacityDeltaGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          Next: MERGE DB
                          ResultPath: $.output_jobGlue_DECLAREDCAPACITY
                        MERGE DB:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt MergeDeclaredCapacityDBFunction.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          End: true
                        Skip DECLARED CAPACITY:
                          Type: Pass
                          End: true
                    - StartAt: Run SENDER LIMIT + CREATE CSV POSTALIZZAZIONI?
                      States:
                        Run SENDER LIMIT + CREATE CSV POSTALIZZAZIONI?:
                          Type: Choice
                          Choices:
                            - Next: SENDER LIMIT
                              Variable: $$.Execution.Input.run_sender_limit
                              NumericEquals: 1
                            - Next: CREATE CSV POSTALIZZAZIONI
                              Variable: $$.Execution.Input.run_create_csv_postalizzazioni_without_sender_limit
                              NumericEquals: 1
                          Default: Skip SENDER LIMIT + CREATE CSV POSTALIZZAZIONI
                        SENDER LIMIT:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref RecuperoSenderLimitDeltaGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          Next: MERGE  DB
                          ResultPath: $.output_jobGlue_SENDERLIMIT
                        MERGE  DB:
                          Type: Task
                          Resource: arn:aws:states:::lambda:invoke
                          Parameters:
                            Payload.$: $
                            FunctionName: !GetAtt MergeSenderLimitDBFunction.Arn
                          Retry:
                            - ErrorEquals:
                                - Lambda.ServiceException
                                - Lambda.AWSLambdaException
                                - Lambda.SdkClientException
                                - Lambda.TooManyRequestsException
                              IntervalSeconds: 1
                              MaxAttempts: 3
                              BackoffRate: 2
                              JitterStrategy: FULL
                          Next: Run CREATE CSV POSTALIZZAZIONI?
                          ResultPath: $.output_lambda_MERGEDB
                        Run CREATE CSV POSTALIZZAZIONI?:
                          Type: Choice
                          Choices:
                            - Next: CREATE CSV POSTALIZZAZIONI
                              Variable: $$.Execution.Input.run_create_csv_postalizzazioni_after_sender_limit
                              NumericEquals: 1
                          Default: Skip CREATE CSV POSTALIZZAZIONI
                        Skip CREATE CSV POSTALIZZAZIONI:
                          Type: Pass
                          End: true
                        CREATE CSV POSTALIZZAZIONI:
                          Type: Task
                          Resource: arn:aws:states:::glue:startJobRun.sync
                          Parameters:
                            JobName: !Ref GenerazioneCsvImportDataGlueJob
                            Arguments:
                              '--mese_simulazione.$': $.mese_simulazione
                          End: true
                        Skip SENDER LIMIT + CREATE CSV POSTALIZZAZIONI:
                          Type: Pass
                          End: true
                  End: true
            Next: Run GESTIONE SIMULAZIONE
            MaxConcurrency: 1
            ItemsPath: $.output_lambda_CalcoloPrimaSettimana.Payload.date_simulazione
          Run GESTIONE SIMULAZIONE:
            Type: Choice
            Choices:
              - Next: GESTIONE SIMULAZIONE
                Variable: $.run_gestione_simulazione
                NumericEquals: 1
            Default: Skip GESTIONE SIMULAZIONE
          GESTIONE SIMULAZIONE:
            Type: Task
            Resource: arn:aws:states:::states:startExecution.sync:2
            Parameters:
              StateMachineArn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-${MicroServiceUniqueName}-stepfunction-GestioneSimulazione"
              Input:
                tipo_simulazione: Automatizzata
                id_simulazione_manuale: ''
                mese_simulazione.$: $.output_lambda_CalcoloPrimaSettimana.Payload.date_simulazione[0]['mese_simulazione']
            End: true
          Skip GESTIONE SIMULAZIONE:
            Type: Pass
            End: true
      TracingConfiguration:
        Enabled: false

  # EventBridge Rule for weekly simulation
  SimulazioneAutomatizzataSettimanaleEventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${MicroServiceUniqueName}-eventbridgerole-SimulazioneAutomatizzataSettimanale"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctionExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction.Arn

  SimulazioneAutomatizzataSettimanaleEventBridgeRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${ProjectName}-${MicroServiceUniqueName}-eventbridge-SimulazioneAutomatizzataSettimanale"
      Description: "Trigger settimanale della step function pn-simulatore-recapiti-RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanale"
      ScheduleExpression: "cron(0 21 ? * MON *)"
      State: ENABLED
      Targets:
        - Arn: !GetAtt RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleStateFunction.Arn
          RoleArn: !GetAtt SimulazioneAutomatizzataSettimanaleEventBridgeRole.Arn
          Id: RecuperoDatiEGestioneSimulazioneAutomatizzataSettimanaleTarget
          Input: |
            {
              "run_paper_delivery": 1,
              "run_declared_capacity": 1,
              "run_sender_limit": 1,
              "run_create_csv_postalizzazioni_after_sender_limit": 1,
              "run_create_csv_postalizzazioni_without_sender_limit": 1,
              "run_gestione_simulazione": 1,
              "date_simulazione": [
                {
                  "mese_simulazione": "2025-10-06"
                }
              ]
            }